ul.sortable li {
	position: relative;
}

ul.boxy {
	list-style-type: none;
	padding: 4px 4px 0 4px;
	margin: 0px;
	width: 10em;
	font-size: 13px;
	font-family: Arial, sans-serif;
        border: 1px solid #ccc;
}
ul.boxy li {
	cursor:move;
	margin-bottom: 4px;
	padding: 2px 2px;
	border: 1px solid #ccc;
}
#left_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#center {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#right_col {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax1 {
    width: 180px;
    float: left;
    margin-left: 5px;
}

#sajax2 {
    width: 180px;
    float: left;
    margin-left: 5px;
}