.eddel_container {
	width:100%;
	height:16px;
	margin:0 auto;
	display:inline-block;
	vertical-align:middle;
}

div.edit_event {
	background-image:url(../../../images/edit.png);
	width:16px;
	height:16px;
	margin-left:5px;
	float:left;
}

div.edit_event:hover {
	background-image:url(../../../images/edit-color.png);
}

div.delete_event {
	background-image:url(../../../images/delete.png);
	width:16px;
	height:16px;
	margin-left:5px;
	float:left;
}

div.delete_event:hover {
	background-image:url(../../../images/delete-color.png);
}