.discord_sprite {
    background-image: url(../images/discordzones.png);
    background-repeat: no-repeat;
    display: block;
}

.discord_sprite-zone1 {
    width: 400px;
    height: 223px;
    background-position: -5px -5px;
}

.discord_sprite-zone2 {
    width: 400px;
    height: 223px;
    background-position: -5px -238px;
}

.discord_sprite-zone3 {
    width: 400px;
    height: 223px;
    background-position: -5px -471px;
}

.discord_sprite-zone4 {
    width: 400px;
    height: 223px;
    background-position: -415px -5px;
}

.discord_sprite-zone5 {
    width: 400px;
    height: 223px;
    background-position: -415px -238px;
}

.discord_sprite-zone6 {
    width: 400px;
    height: 223px;
    background-position: -415px -471px;
}

.inp{
  background-color: #000000 !important;
  border:#444 2px solid !important;
  padding:1px !important;
  margin:2px !important;
  color:#FFF !important;
  font-size:14px !important;
}

#dissub{
	background: linear-gradient(to bottom, #7289da 0%, #000000 125%) !important;
	color:#FFF !important;
	text-align: center !important;
	padding:2px 8px 4px 4px !important;
	font-size:24px !important;
	font-family: "Arial Black", Gadget, sans-serif !important;
	font-weight:900 !important;
	width:110px !important;
	height:30px !important;
	transition: 0.8s !important;
	letter-spacing:1px;
}

#dissub:hover {
    background: linear-gradient(to bottom, #7289da -66%, #000000 100%) !important;
	cursor:pointer !important;
}

.discord_color_ex {
	width:16px;
	height:16px;
	border:2px solid;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
}

input[type=range] {
 vertical-align: middle;
}

.discordhelp {
	background-color:#FFF !important;
	border:8px solid #5379FF !important;
	border-radius:10px;
	color:#000 !important;
	display:none;
	width:700px !important;
	overflow:auto !important;
	outline: 0 !important;
}

.discordhelp a:visited, a:active, a:link, a:focus{
	color: #C60 !important;
	outline: 0 !important;
}
.discordhelp a:hover{
	color: #C96 !important;
	outline: 0 !important;
}
.discordhelp h3 {
	color:#900;
	font-weight:900;
}