@charset"utf-8";
@import url('https://fonts.googleapis.com/css?family=Saira:200');
body {
    width:163px; /* DO NOT GO SMALLER THAN 160px!!! Recomended is 170px; */
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: relative;
    margin:0;
    background-color: transparent;
    padding: 0px;
    line-height: 1.0;
    font-size: 16px;
    color :#b3b3b3;
    text-align: left;
    float: left;
    
    font-family: tahoma, sans-serif;
}

img {
    vertical-align: middle;
}

img.admin {
    margin-left: 2px;
    height: 12px;
    width: 13px;
}

img.ingame {
    width: 19px;
    height: 11px;
}

.helper {
    display: inline-block;
    height: 100%;
}

img.bot {
    width: 10px;
    height: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#mainbody{
    top:0;
    left:0;
    right:0;
    position:relative;
    z-index: 0;
    background-color: #343434; /* Body background */
    border:3px solid #808080; /* viewers border */
    border-radius: 16px;
    max-width: 200px;
    height: auto;
}

.heading {
    max-width: 90%;
    background-color: #343434; /* heading background */
    color :#b3b3b3; /* color of text in the heading */
    border-radius: 16px 16px 0px 0px;
    font-size: 12px;
    font-weight:900;
    line-height: 110%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 4px;
    padding-top: 10px;
    text-align:center;
}

.content {
    position: relative;
    background-color: #333; /* Channel users background */
    min-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    z-index:9999;
}
#bottomh {
    font-size:11px;
    font-weight:900;
    overflow: hidden;
    vertical-align: middle;
    height: 28px;
    padding: 2px;
	text-align:center;
	border-bottom: 1px solid #808080;
	border-top: 1px solid #808080;
	margin: 2px;
}

.bottomu {
    background-color: #333; /* bottom users background */
    min-width: 100%;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size:11px;
    color:#FFF;
    height:18px;
}

.username {
    font-size: 11px;
    color:#FFF;
}

#nousers {
    width: 90%;
    margin: 0px 20px 5px 20px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

.channels {
    background-color: #2c2c2c; /* first channel background */
    padding:1px 1px 1px 1px;
    vertical-align:middle;
    z-index:4;
}

.div-link {
    width: 50%;
    border: 2px solid #808080;
    border-radius: 8px;
    background-color: #222; /* Join Server button background */
    color: #FFF; /* Join Server button text */
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    padding: 3px;
}

.div-link:hover {
    background-color: yellowgreen; /* Join Server hover background */
    color: #111; /* Join Server hover text */
}

.discord-icon {
    width: 19px;
    height: 14px;
    vertical-align:middle;
}

.desc {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    color:#CCC;
}

.channel {
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    display:inline-block;
    z-index:5;
}

.avatar {
    border-radius:100%;
    width: 15px;
    height: 15px;
    border:0px !important;
    display:inline;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right:5px!important;
    vertical-align:middle;
}

.d-status {
    border-radius:100%;
    width: 8px;
    height: 8px;
    border:0px !important;
    display:inline;
    margin-top: 8px;
    margin-left: -17px;
    vertical-align:middle;
}

.game {
    color: #FF9900; /* playing game text color */
    font-size: 10px;
}

label {
    border: 2px solid #808080; /* View button border */
    background-color: #1c1c1c; /* View button background */
    color: #808080; /* View button text */
    cursor: pointer;
    padding: 2px 5px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

label:hover {
    background-color: #808080; /* View button hover background */
    color: #1c1c1c; /* View button hover text */
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    font: 16px sans-serif;
    width: 90%;
    height: 75px;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    margin: 0 auto;
}

.myBox2 {
    border: none;
    padding: 0px;
    width: 98%;
    height: 300px;
    overflow: scroll;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 0 auto;
    background-color: #2C2C2C;
}

.hidden-game {
    display:none;
    padding-left: 8px;
    padding-bottom: 2px;
    height: 14px;
    font-size:10px;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform-origin: center top 0;
    -moz-transform-origin: center top 0;
    -o-transform-origin: center top 0;
    -ms-transform-origin: center top 0;
    color: #FF9900;
}

.parent-game:hover .hidden-game {
    display:block;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
}

.raquo{
    font-size:12px;
    color: yellowgreen;
    padding-left:15px;
    padding-right: 0px;
}

#ser-empty {
    font-size:16px;
    text-align:center;
    font-weight:900;
    color:#FFF;
}

.xinfo{
    font-family: 'Saira', sans-serif !IMPORTANT;
    font-size:11px !IMPORTANT;
}