.block {
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;
}

.maintable {
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;
}

BODY 
{
FONT-SIZE: 12px; 
CURSOR: default; 
COLOR: #000000; 
BACKGROUND-color: #cecece; 
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
TEXT-DECORATION: none;

scrollbar-face-color: #cccccc;
scrollbar-highlight-color: #969696;
scrollbar-3dlight-color: #cccccc;
scrollbar-darkshadow-color: #646464;
scrollbar-shadow-color: #4B4B4B;
scrollbar-arrow-color: #c0c0c0;
scrollbar-track-color: #cccccc;
}

A:link {
FONT-SIZE: 12px;
FONT-WEIGHT: normal; 
COLOR: #000000;
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
TEXT-DECORATION: none;
}

A:visited {
FONT-SIZE: 12px;
FONT-WEIGHT: normal; 
COLOR: #000000;
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
TEXT-DECORATION: none;
}

A:active {
FONT-SIZE: 12px;
FONT-WEIGHT: normal; 
COLOR: #000000;
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
TEXT-DECORATION: overline underline;
}

A:hover {
FONT-SIZE: 12px;
FONT-WEIGHT: bold; 
COLOR: #cc0000; 
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
TEXT-DECORATION: none;
}




P 
{
FONT-SIZE: 12px; 
COLOR: #000000; 
LINE-HEIGHT: 1.4; 
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif; 
TEXT-DECORATION: none;
}

TABLE 
{
border-width: 0px;
FONT-SIZE: 12px; 
COLOR: #000000; 
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
TEXT-DECORATION: none;
}

td.info1	
{
border:2px solid; border-color:#000000 #c0c0c0 #c0c0c0 #000000; BACKGROUND: #BEBDBD;
}

TD.content 
{
FONT-SIZE: 12px;
COLOR: #000000;
TEXT-DECORATION: none;
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
scrollbar-face-color: #cccccc;
scrollbar-highlight-color: #969696;
scrollbar-3dlight-color: #cccccc;
scrollbar-darkshadow-color: #646464;
scrollbar-shadow-color: #4B4B4B;
scrollbar-arrow-color: #c0c0c0;
scrollbar-track-color: #cccccc;
}

TD.story 
{
color:#000000;
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
}

SELECT 
{
background-color: cecece;
FONT-SIZE: 12px;
COLOR: #000000;
TEXT-DECORATION: none
font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif;
scrollbar-face-color: #cccccc;
scrollbar-highlight-color: #969696;
scrollbar-3dlight-color: #cccccc;
scrollbar-darkshadow-color: #646464;
scrollbar-shadow-color: #4B4B4B;
scrollbar-arrow-color: #c0c0c0;
scrollbar-track-color: #cccccc;
}

.gentextarea
{
border-style: inset;
border-width: 2px;
}

.thLeft
{
border-style: outset;
border-width: 2px;
}

.thRight
{
border-style: outset;
border-width: 2px;
}

.pb
{
border-style: outset;
border-width: 2px;
}

.forumlink
{
font-weight:bold;
font-size:12px;
background:inherit;
color:#000000;
}
a.forumlink
{
font-weight:bold;
text-decoration:none;
background:inherit;
color:#000000;
}
a.forumlink:visited
{
font-weight:bold;
text-decoration:none;
background:inherit;
color:#000000;
}
a.forumlink:hover
{
font-weight:bold;
text-decoration:none;
background:inherit;
color:#CC0000;
}

/* The register, login, search etc links at the top of the page */
.forummenu		
{ 
font-weight: bold; 
font-size : 12px; 
color : #000000;
}
a.forummenu		
{ 
text-decoration: none;
font-weight: bold;  
color : #000000;
}
a.forummenu:visited
{
font-weight: bold;   
text-decoration: none; 
color : #000000;
}
a.forummenu:hover
{
font-weight: bold;   
text-decoration: underline; 
color : #cc0000;
}


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 12px; color : #000000;}
a.mainmenu		{ text-decoration: none; color : #000000;}
a.mainmenu:hover{ text-decoration: none; color : #cc0000;}

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 13px; letter-spacing: 0px; color : #2f6f19}
a.cattitle		{ font-weight: bold; font-size: 13px; text-decoration: none; color : #2f6f19; }
a.cattitle:hover{ font-weight: bold; font-size: 13px; text-decoration: none; color : #cc0000;}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 12px; color : #000000;}
a.nav			{ font-weight: bold; text-decoration: none; color : #000000; }
a.nav:hover		{ font-weight: bold; text-decoration: NONE; color : #cc0000;}

.code
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.quote
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}


.fixcell
{
accelerator: false;
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.thLeft
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.thRight
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.thCornerL
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.thTop
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.thCornerR
{
/* background-size: 100%; */
BACKGROUND-IMAGE: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/86it-Titanium/images/backgrounds/matched_grey.png); 
accelerator: false;

color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1cell 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1rt 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1lt 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1d 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row1u 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row2u 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row2 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row3 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

TD.row4 
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

td.rowlt
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}
td.rowrt
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}
td.rowpic
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

.nrm01
{
FONT-SIZE: 12px; 
font-family: verdana,arial,sans-serif,helvetica; 
BACKGROUND: transparent;
}


.inset
{
	color:#000000;
	font: normal 11px Tahoma, Verdana, "Myriad Web", Syntax, sans-serif, sans-serif font:12px;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif font:12px;
    border-right: 1px inset;
    border-top: 1px inset;
    border-bottom: 1px inset;
    border-left: 1px inset;
    BACKGROUND: #babbb9;
}

textarea
{
	color:#000000;
	font: normal 11px Tahoma, Verdana, "Myriad Web", Syntax, sans-serif, sans-serif font:12px;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif font:12px;
    border-right: 1px inset;
    border-top: 1px inset;
    border-bottom: 1px inset;
    border-left: 1px inset;
    BACKGROUND: #babbb9;
}

textarea.posttextarea
{
color:inherit;
border-right: #707070 2px solid;
border-top: #c0c0c0 2px solid;
border-bottom: #707070 2px solid;
border-left: #c0c0c0 2px solid;
}

td.insetgreybackground
{
	color:#000000;
	font: normal 11px Tahoma, Verdana, "Myriad Web", Syntax, sans-serif, sans-serif font:12px;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif font:12px;
    border-right: 1px inset;
    border-top: 1px inset;
    border-bottom: 1px inset;
    border-left: 1px inset;
    BACKGROUND: #babbb9;
}

.select, select, .input.select
{
	color:#000000;
	font: normal 11px Tahoma, Verdana, "Myriad Web", Syntax, sans-serif, sans-serif font:12px;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif font:12px;
    border-right: 1px inset;
    border-top: 1px inset;
    border-bottom: 1px inset;
    border-left: 1px inset;
    BACKGROUND: #babbb9;
}

.post
{
	color:#000000;
	font: normal 11px Tahoma, Verdana, "Myriad Web", Syntax, sans-serif, sans-serif font:12px;
    font-family: Tahoma, Verdana, "Myriad Web", Syntax, sans-serif font:12px;
    border-right: 1px inset;
    border-top: 1px inset;
    border-bottom: 1px inset;
    border-left: 1px inset;
    BACKGROUND: #babbb9;
	
}

input.liteoption, input.liteoption
{
	text-indent:2px;
    border-right: 1px outset;
    border-top: 1px outset;
    border-bottom: 1px outset;
    border-left: 1px outset;
	BACKGROUND: #babbb9;
	border-color:#FFFFFF #707070 #707070 #FFFFFF;

}

input.button{color:#000000;font:normal 11px arial, helvetica, verdana, sans-serif;border:1px solid; border-color:#FFFFFF #707070 #707070 #FFFFFF; background: transparent;}

.button {
   border-top: 1px solid #000000;
   background: #383438;
   background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#383438));
   background: -webkit-linear-gradient(top, #cccccc, #383438);
   background: -moz-linear-gradient(top, #cccccc, #383438);
   background: -ms-linear-gradient(top, #cccccc, #383438);
   background: -o-linear-gradient(top, #cccccc, #383438);
   padding: 2px 4px;
   -webkit-border-radius: 28px;
   -moz-border-radius: 28px;
   border-radius: 28px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #050505;
   font-size: 17px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #cecec0;
   background: #e4e4e4;
   color: #383438;
   }
.button:active {
   border-top-color: #cccccc;
   background: #cccccc;
   }
/*
input.mainoption{color:#000000;font:normal 11px arial, helvetica, verdana, sans-serif;border:1px solid; border-color:#707070 #FFFFFF #FFFFFF #707070; background: #bab7b9;}
input.liteoption{color:#000000;font: normal 11px arial, helvetica, verdana, sans-serif;border:1px solid;border-color:#707070 #FFFFFF #FFFFFF #707070;background:#bab7b9;}
*/

.postimage {cursor:pointer;}
.postimage:hover {background-color:#bab7b9;cursor:pointer;}


#listbutton
{
border:2px solid #4B4B4B;
background-color:#bab7b9;
width:60px;
height:12px;
font: normal 12px Arial, Verdana, Helvetica, sans-serif;
text-align:center;
cursor:pointer;cursor:pointer;
vertical-align:top;
}

.expandhighlight, .expandhighlight a
{
color:red;
}

IMG {
BORDER-RIGHT: #c0c0c0 0px solid; 
BORDER-TOP: #c0c0c0 0px solid; 
BORDER-LEFT: #c0c0c0 0px solid; 
BORDER-BOTTOM: #c0c0c0 0px solid;
}
 
.online2 {
opacity:0.5;
filter:alpha(opacity=50);
}

bottom{Z-INDEX:2;LEFT:0px;width:100%;POSITION:absolute;TOP:594px;height:30px;text-align:center}


/*
.input {
     border: 1px solid #006;
     background: #ffc;
 }
 .input:hover {
     border: 1px solid #f00;
     background: #ff6;
 }
 .button {
     border: none;
     background: url('/forms/up.png') no-repeat top left;
     padding: 2px 8px;
 }
 .button:hover {
     border: none;
     background: url('/forms/down.png') no-repeat top left;
     padding: 2px 8px;
 }
 label {
     display: block;
     width: 150px;
     float: left;
     margin: 2px 4px 6px 4px;
     text-align: right;
 }
 br { clear: left; }
*/

