#cwraper {
  width: 100%;
}

#cbody {
  font-family: Arial, sans-serif;
  font-size:10px;
  max-width: 200px;
  min-width: 150px;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 25px;
  background-image: linear-gradient(#222, #444, #222);
  background-color:#000;
  color:#FFF;
  font-weight:600;
  font-size:13px;
  letter-spacing:1px;
  text-align:center;
}

.calendar {  
  background-color:#000;
  border-collapse: collapse;
  width: 100%;
}

.calendar caption {
  margin-bottom: 5px;
}

.cheader {
  background-image: linear-gradient(#222, #C08933, #222);
  background-color: #222;
  color: #fff;
  font-size:12px;
  text-shadow: 1px 1px 2px #000, 0 0 25px #222, 0 0 5px #333;
}

.today {
  background-image: linear-gradient(#888, #333);
  color: #fff;
  font-weight:500;
  border:1px solid #000;
  text-align:center;
  height: 20px;
  width:14%;
  line-height:18px;
}

.day {
  color:#000;
  height: 20px;
  width: 14%;
  line-height:18px;
  text-align:center;
}

.calendar tr:nth-child(odd) {
  background: #E0E0E0;
}

.calendar tr:nth-child(even) {
  background: #D0D0D0;
}

.calendar th,
.calendar td {
  border: 1px solid #000;
}

.dayt {
  height: 80%;
  width: 100%;
}

.event {
  width:14px;
  height:14px;
  border-radius:10px;
  border:1px solid #000;
  font-weight:700;
  color:#000;
  line-height:14px;
  text-align:center;
  background:#C08933;
  -webkit-box-shadow:0 0 6px #000; 
  -moz-box-shadow: 0 0 6px #000; 
  box-shadow:0 0 6px #000;
  margin: 0 auto;
}

/* Start state */
.animated-modal {
  width: 500px;
  border: 5px solid #000;
  border-radius: 4px;
  overflow: hidden;
  color: #000;
  background-color:#CCC;
  display: none;
  transform: translateY(-50px);
  transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
  color:#000;
  transition-property: transform, opacity;
  transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: .3s;
}