/* SimpleBlackV3 Theme Style.css */

a:link,
a:visited,
a:active {
font-size: 11px;
color: #2690b0;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
text-decoration: none;}

a:hover {
font-size: 11px;
color: #9eccd8;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
text-decoration: none;}

body{
margin: 0px;
font-size: 12px;
cursor: default;
color: #9eccd8;
background-color: #000000;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
text-decoration: none;}

p{
font-size: 12px;
background: inherit;
color: #2690b0;
line-height: 1.4;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
text-decoration: none;}

/* Changes colors for: Main Menu Block, Table Box, Story Box */
table{
font-size: 11px;
color: #ededed !important;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
text-decoration: none;}

/* Changes color for: Story Box - Post By Line */
td.content{
font-size:12px;
color: #ededed;
text-decoration: none;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;}

td.extra {
border-top : 0px solid #282828;
border-bottom : 0px solid #505050;
border-left : 0px solid #282828;
border-right : 1px solid #505050;
}
td.extras{
background: #F0F0F0;
color: inherit;
border-right: #707070 1px solid;
border-top: #FFFFFF 1px solid;
border-bottom: #707070 1px solid;
border-left: #FFFFFF 1px solid;}

textarea {
background-image: url(../images/input.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
font-size: 11px;
color: #9eccd8;}

p {
font-size: 11px; 
color: #c3c3c3; 
line-height: 1.4; 
font-family:  arial, helvetica, verdana, sans-serif; 
text-decoration: none;}

hr {
border-top: 1px solid #303030;
border-bottom: 1px solid #787878;
height: 2px;
width: 100%;}

ul {
list-style-type: square;}
.center {
text-align: center;}
.justify {
text-align: justify;}
.right {
text-align: right;}

h1 {
font-weight: bold; 
font-size: 11px; 
color: #ffffff; 
font-family:  arial, helvetica, verdana, sans-serif; 
letter-spacing: 0px; 
text-decoration: none;
}
.heading {
font-weight: bold; 
font-size: 11px; 
color: #ffffff; 
font-family: Tahoma; 
letter-spacing: 0px; 
text-decoration: none;
}
.heading1 {
font-weight: bold; 
font-size: 11px; 
color: #ffffff; 
font-family: Tahoma; 
letter-spacing: 0px; 
text-decoration: none;}

.blocktitle {
font-weight: bold;
font-size: 11px;
color: #000000;
font-family: arial;
letter-spacing: 0px;
text-decoration: none;}

.storytitle {
font-weight : bold;
font-size : 11px;
color : #9eccd8;
font-family : arial;
letter-spacing : 0px;
text-decoration : none;}

td.story{
background: #F0F0F0;
color: #2690b0;
font-size:11px;
font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
border-right: #707070 1px solid;
border-top: #FFFFFF 1px solid;
border-bottom: #707070 1px solid;
border-left: #FFFFFF 1px solid;}

select {
color:#ffffff;
font-size: 11px;
font-family: Arial,Helvetica,sans-serif;
background-color : #1c1d1f;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
padding: 4px;}

/* Login & Username Links */
.hnav	         { font-size: 10px; font-family: arial; color: #2690b0; text-decoration: none;}
td.hnav	   { font-size: 10px; font-family: arial; color: #2690b0; text-decoration: none;}
a.hnav	   { font-size: 10px; color: #2690b0; text-decoration: none;}
a.hnav:link    { font-size: 10px; text-decoration: none; color : #2690b0; }
a.hnav:visited { font-size: 10px; text-decoration: none; color : #2690b0; }
a.hnav:hover   { font-size: 10px; color : #9eccd8; text-decoration: none;}

/* Footer Scrolling Copyright Text */
.ftrt { font-size : 9px; color : #ffffff; }
.ftrtmed { font-size : 9px; }
.ftrtsmall { font-size : 9px; }
.ftrt,.ftrmed,.ftrtsmall { color : #ffffff; }
a.ftrt,a.genmed,a.ftrtsmall { color: #ffffff; text-decoration: none; }
a.ftrt:hover,a.ftrtmed:hover,a.ftrtsmall:hover { color: #0188ff; text-decoration: none; }

/* Copyright and bottom info */
.copyright { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #2690b0;}
a.copyright { font-size: 10px; color: #2690b0; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.copyright:link { font-size: 10px; color: #2690b0; text-decoration: NONE; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.copyright:active { font-size: 10px; color: #2690b0; text-decoration: NONE; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.copyright:visited { font-size: 10px; color: #2690b0; text-decoration: NONE; font-family: Verdana, Arial, Helvetica, sans-serif;}
a.copyright:hover { font-size: 10px; color: #9eccd8; text-decoration: NONE; font-family: Verdana, Arial, Helvetica, sans-serif;}


input {
background-image: url(../images/input.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
font-size: 11px;
color: #2690b0;
}
input.noborder {
color:#ffffff;
font:11px Arial,Helvetica,sans-serif;
border-top: #ffffff 0px solid; 
border-bottom: #ffffff 0px solid; 
border-left: #ffffff 0px solid; 
border-right: #ffffff 0px solid;}


/* This is the border line & background colour round the entire page */
.bodyline	{ 
background-color: #5c5c5c; 
border:0px solid; 
border-color:#000000;}

.titleboxbg	{
background-color: #000000; 
border:1px solid; 
border-color:#5c5c5c;}

.tablein {
border-top: #4F4F4F 1px solid; 
border-bottom: #898989 1px solid; 
border-left: #4F4F4F 1px solid; 
border-right: #898989 1px solid;}

/* This is the outline round the main forum tables */
.forumline	{ 
background: #636363;
border-top: #282828 0px solid; 
border-bottom: #424258 0px solid; 
border-left: #282828 0px solid; 
border-right: #424258 0px solid;}

.forumline2	{ 
height: 25px;
background-image: url(../images/bar2.gif);
background-repeat: repeat-x;
background-color : #1c1d1f;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

/* InLineAd Table Row Background color */
td.inlinead	{ 
background: #000000;
border-top: #282828 0px solid; 
border-bottom: #424258 0px solid; 
border-left: #282828 0px solid; 
border-right: #424258 0px solid;}

/* InLineAd Table Row Background color */
td.inlineadtitle	{ 
background: #000000;
border-top: #282828 0px solid; 
border-bottom: #424258 0px solid; 
border-left: #282828 0px solid; 
border-right: #424258 0px solid;}

/* Main table cell colours and backgrounds */
.row1	
{
	background-image: url(../images/bar.gif);
	background-repeat: repeat-x;
	background-color : #090b0a;
	border-top: #282828 0px solid; 
	border-bottom: #282828 1px solid; 
	border-left: #282828 1px solid; 
	border-right: #282828 1px solid;
	padding-top: 7px;
}

td.row1pic,
td.attachheader	{
	height: 25px;
	background-image: url(../images/bar2.gif);
	background-repeat: repeat-x;
	background-color : #1c1d1f;
	border-top: #282828 0px solid; 
	border-bottom: #282828 1px solid; 
	border-left: #282828 1px solid; 
	border-right: #282828 1px solid;
}


td.row1cell	{
background-color : #1c1d1f;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

td.row1rt,
td.row1lt,
td.row1d	{
background-image: url(../images/bar.gif);
background-repeat: repeat-x;
background-color : #090b0a;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 0px solid;}



td.row1u	{
background-color : #090b0a;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 0px solid; 
border-right: #282828 1px solid;}

td.row2u	{
background-color : #090b0a;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

td.row2,
td.row3	{
background-image: url(../images/bar.gif);
background-repeat: repeat-x;
background-color : #090b0a;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;
padding-top: 7px;}

/* Category Row Right */
td.rowpic {
background-image: url(../images/catbar.gif);
background-repeat: repeat-x;
background-color : #242424;
border-top: #282828 1px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

td.pic {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 25px;
background-image: url(../images/bar3.gif);
background-repeat: repeat-x;
background-color : #1c1d1f;
border-top: #282828 1px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

td.piclt {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 25px;
background-image: url(../images/bar3.gif);
background-repeat: repeat-x;
background-color : #1c1d1f;
border-top: #282828 1px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 0px solid;}

td.picrt {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 25px;
background-image: url(../images/bar3.gif);
background-repeat: repeat-x;
background-color : #1c1d1f;
border-top: #282828 1px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 0px solid; 
border-right: #282828 1px solid;}

/* Recent Topics Row*/
th {
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 25px;
background-image: url(../images/bar2.gif);
background-repeat: repeat-x;
background-color : #1C1D1F;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

th.bar	{
color: #ffffff; 
font-size: 11px; 
font-weight : bold;
height: 25px;
background-image: url(../images/bar.gif);
background-repeat: repeat-x;
background-color : #090b0a;
border-top: #282828 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}

/* Category Row Left */
td.cat, .catHead,td.catSides,td.catLeft,td.catRight,td.catBottom 
{
	background-image: url(../images/catbar.gif);
	background-repeat: repeat-x;
	background-color : #242424;
	border-top: #282828 1px solid; 
	border-bottom: #282828 1px solid; 
	border-left: #282828 1px solid; 
	border-right: #282828 1px solid;
}

/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/

/* Recent Topics, Row1, Viewforum_Body.tpl */
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR 
{
	font-weight: bold; 
	height: 25px;
	background-color : #101e31;
	border-top: #282828 1px solid; 
	border-bottom: #282828 1px solid; 
	border-left: #282828 1px solid; 
	border-right: #282828 1px solid;
}

/* Forum_Body.tpl - Last Column */
td.row3Right,td.spaceRow {
height: 25px;
background-image: url(../images/bar.gif);
background-repeat: repeat-x;
background-color : #090b0a;
border-top: #282828 1px solid; 
border-bottom: #282828 1px solid; 
border-left: #282828 1px solid; 
border-right: #282828 1px solid;}


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
font-weight: bold; font-size: 16px; font-family: Arial, Helvetica, sans-serif;
text-decoration: none; line-height : 120%; color : #2690b0;}

a.maintitle:link    { text-decoration: none; color : #2690b0; font-size: 16px; }
a.maintitle:visited { text-decoration: none; color : #2690b0; font-size: 16px; }
a.maintitle:hover   { text-decoration: none; color : #9eccd8; font-size: 16px; }

/* The register, login, search etc links at the top of the page */
.mainmenu	     { font-size : 11px; color : #2690b0;}
a.mainmenu	     { text-decoration: none; color : #2690b0;}
a.mainmenu:hover { text-decoration: none; color : #9eccd8;}

/* Forum Category Titles */
.cattitle	     { font-weight: bold; font-size: 11px ; letter-spacing: 0px; color : #2690b0;}
a.cattitle	     { text-decoration: none; color : #2690b0; }
a.cattitle:hover { text-decoration: none; color : #9eccd8;}

/* Who is Online Category Title */
.cattitle	     { font-weight: bold; font-size: 11px ; letter-spacing: 0px; color : #ffffff;}
a.cattitle	     { text-decoration: none; color : #ffffff; }
a.cattitle:hover { text-decoration: none; color : #9eccd8;}

/* Forum title: Text and link to the forums used in: index.php */
.forumlink	      { font-weight: bold; font-size: 11px; color : #ffffff; }
a.forumlink 	{ text-decoration: none; color : #ffffff; }
a.forumlink:hover { text-decoration: NONE; color : #9eccd8; }

.fheader          { font-size : 12px; font-weight : bold; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration : none; }
a.fheader         { background : inherit; color : #2690b0; }
a.fheader:visited { background : inherit; color : #2690b0; }
a.fheader:hover   { background : inherit; color : #9eccd8; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #ffffff;}
a.nav			{ text-decoration: none; color : #ffffff; }
a.nav:hover		{ text-decoration: NONE; color : #9eccd8;}

/* titles for the topics: could specify viewed link color too */
.topictitle { font-weight: bold; font-size: 11px; color : #ffffff; }
a.topictitle:link { text-decoration: none; color : #ffffff; }
a.topictitle:visited { text-decoration: none; color : #ffffff; }
a.topictitle:hover { text-decoration: NONE; color : #9eccd8; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name { font-size : 11px; color : #ffffff;}

/* Location, number of posts, post date etc */
.postdetails { font-size : 10px; color : #2690b0; }

/* The content of the posts (body of text) */
.postbody { font-size : 11px; color : #ededed; }
a.postlink:link	{ text-decoration: none; color : #ededed; }
a.postlink:visited { text-decoration: none; color : #ededed; }
a.postlink:hover { text-decoration: underline; color : #9eccd8; }


.quote {
background-image: url(../images/input.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
font-size: 11px;
color: #ffc0c0;}

.code {
background-image: url(../images/input.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
font-size: 11px;
color: #fad954;}

input.sub {
color:#c3c3c3;
font-size:11px;
font-family: Arial,Helvetica,sans-serif;
background-image: url(../images/input.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #4B4B4B 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #4B4B4B 1px solid; 
border-right: #282828 1px solid;}

/* The buttons used for bbCode styling in message post */
input.button {
color:#c3c3c3;
font-size:11px;
font-family: Arial,Helvetica,sans-serif;
background-image: url(../images/bar.gif);
background-repeat: repeat-x;
background-color : #090b0a;
border-top: #4B4B4B 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #4B4B4B 1px solid;
border-right: #282828 1px solid;}

/* The main submit button option */
input.mainoption {
color:#c3c3c3;
font-size:11px;
font-family: Arial,Helvetica,sans-serif;
background-image: url(../images/bar2.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #4B4B4B 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #4B4B4B 1px solid; 
border-right: #282828 1px solid;}

/* None-bold submit button */
input.liteoption {
color:#c3c3c3;
font-size:11px;
font-family: Arial,Helvetica,sans-serif;
background-image: url(../images/bar2.gif);
background-repeat: repeat-x;
background-color : #2d2f31;
border-top: #4B4B4B 0px solid; 
border-bottom: #282828 1px solid; 
border-left: #4B4B4B 1px solid; 
border-right: #282828 1px solid;}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)*/
.helpline {
background-color : #0f1211;
border-top: #2A2A2A 1px solid; 
border-bottom: #8A8A8A 1px solid; 
border-left: #2A2A2A 1px solid; 
border-right: #8A8A8A 1px solid;
font-size: 11px;
color: #f8d684;}


ul.sb-navigation {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	justify-content: center;
}

ul.sb-navigation li.sb-nav-item {
	/*margin: 0 20px 0 20px;*/
	width:100px;
	text-align: center;
}

ul.sb-navigation li.sb-nav-item a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	margin-top:1px;
	margin-bottom: 1px;

	border-top-width: 1px;
	border-top-color: transparent;
	border-top-style: solid;

	border-bottom-width: 1px;
	border-bottom-color: transparent;
	border-bottom-style: solid;
}

ul.sb-navigation li.sb-nav-item a.active,
ul.sb-navigation li.sb-nav-item a:hover {
	/*height: 42px;*/
	background: rgba(0,0,0,0.2);
	border-top-width: 1px;
	border-top-color: limegreen;
	border-top-style: solid;

	border-bottom-width: 1px;
	border-bottom-color: limegreen;
	border-bottom-style: solid;
	/*transition: 0.5s*/

}

input[type='submit'],input[type='checkbox'],input[type='radio']{cursor:pointer;}
select{color: #fff;border:1px solid #D29A2B;cursor:pointer;margin:0 1px 1px;box-sizing:border-box;}
input{color: #fff;border:1px solid #D29A2B;box-sizing:border-box;letter-spacing:1px;margin:0 1px 1px;padding:5px;box-sizing:border-box;}
span.uppercase{text-transform:uppercase;}

td.forums,th.forums{padding-left:5px;}
td.threads,th.threads{width:80px;}
td.last_post,th.last_post{width:200px;padding-left:5px;}

input[type='radio']{background-color:transparent!important;width:18px;height:18px;}
input[type='checkbox']{width:18px;height:18px;}
input[type='image']{border:none;padding:0;}

progress{background-color:#f3f3f3;border:0;height:18px;}

.codebox{border-style:solid;display:block;padding: 10px;;border:1px solid #b5b7b9;background-color:#343434;}
.codebox code{display:block;font:1em Monaco,"Open Sans",sans-serif;max-height:500px;max-width:100%;overflow:auto;margin:0;padding: 5px 3px;}
.codebox p{display:block;font-weight:600;border-bottom:1px solid #ccc;text-transform:uppercase;}

.phpcodebox {background-color:#fdf6e3;}
.phpcodebox p{color:#333 ;}
.code_select {color:#676767;}
.code_select:hover {color: #D29A2B;}

.notepaper{position:relative;margin:auto;padding:29px 20px 20px 45px;width:90%;line-height: 30px;color:#6a5f49;text-shadow:0 1px 1px #fff;background-color:#f2f6c1;background-image:-webkit-radial-gradient(center,cover,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.1) 90%),-webkit-repeating-linear-gradient(top,transparent 0%,transparent 29px,rgba(239,207,173,0.7) 29px,rgba(239,207,173,0.7) 30px); background-image:-moz-radial-gradient(center,cover,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.1) 90%),-moz-repeating-linear-gradient(top,transparent 0%,transparent 29px,rgba(239,207,173,0.7) 29px,rgba(239,207,173,0.7) 30px); background-image:-o-radial-gradient(center,cover,rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.1) 90%),-o-repeating-linear-gradient(top,transparent 0%,transparent 29px,rgba(239,207,173,0.7) 29px,rgba(239,207,173,0.7) 30px);border:1px solid #c3baaa;border-color:rgba(195,186,170,0.9);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02);box-shadow:inset 0 1px rgba(255,255,255,0.5),inset 0 0 5px #d8e071,0 0 1px rgba(0,0,0,0.1),0 2px rgba(0,0,0,0.02)}
.notepaper:before,.notepaper:after{content:'';position:absolute;top:0;bottom:0;}
.notepaper:before{left:28px;width:2px;border:solid #efcfad;border-color:rgba(239,207,173,0.9);border-width:0 1px;}
.notepaper:after{z-index:-1;left:0;right:0;background:rgba(242,246,193,0.9);border:1px solid rgba(170,157,134,0.7);-webkit-transform:rotate(2deg);-moz-transform:rotate(2deg);-ms-transform:rotate(2deg);-o-transform:rotate(2deg);transform:rotate(2deg)}

.curly-quotes:before,.curly-quotes:after{display:inline-block;vertical-align:top;height:30px;line-height:48px;font-size:50px;opacity:.2;}
.curly-quotes:before{content:'\201C';margin-right:4px;margin-left:-8px;}
.curly-quotes:after{content:'\201D';margin-left:4px;margin-right:-8px;}

.quote-by{display:block;padding-right:10px;font-size:13px;font-style:italic;color:#84775c;}
.lt-ie8 .notepaper{padding:15px 25px;}

.forum-ranks {margin-bottom: 2px;}
.forum-avatar {padding-bottom: 5px;}

.hdr-li-icon:nth-child(n+2) {margin-left: 5px;}
.hdr-li-icon {background-color: rgba(24, 27, 27, 0.8); width: 32px; height: 32px; border: 1px solid rgba(0, 0, 0, 0.6);}
.hdr-btn-counter {background-color: #ce3232;border-radius: 9px;color: white;padding: 1px 3px;font-size: 7px;position: absolute;top: 3px;left: 18px;border: 1px solid #262323;}
.hdr-btn-container {position:relative;display:block;left: 96px;top: 6px;}
.hdr-btn-container ul {position: relative;display: inline-block;padding: 0;}
.hdr-btn-container ul > li {float: left;}
.hdr-btn-container ul li a.hdr-btn-icon {display: block;transition: .5s;font-size: 16px;color: #919191;text-align: center;}
.hdr-btn-container ul li a.hdr-btn-icon:hover {color: #D29A2B;text-shadow: 0px 0px 5px #636363, 0px 0px 4px #A20303;box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);}
.hdr-btn-container ul li .hdr-btn-icon .fas{vertical-align:middle;line-height: 32px;}

.lastpost .fa{float:right;padding:10px;transition:all .2s ease-in-out;}
.left{text-align:left;}
.center{text-align:center;}
.justify{text-align:justify;}
.right{text-align:right;}

.fa-angle-double-up{text-shadow: 0px 0px 5px #636363, 0px 0px 4px #A20303;}