:root {
    /*--ft-family: 'Rajdhani', san-serif;*/
    --ft-family: 'Oswald', san-serif;
    /*--ft-family: 'Electrolize', sans-serif;*/
}


/*---- INACTIVE MARGQUEE

.marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
    background: url(../images/HD/rbcontent.png);
    color: #a19700;
    text-shadow: 0px 1px 3px black;
}

.marquee p {
    position: absolute;
    width: 300px;
    height: 27px;
    margin: 0;
    line-height: 30px;
    text-align: bottom;
    font-weight: bold;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-125%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-125%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(70%);
        -webkit-transform: translateX(70%);
        transform: translateX(70%);
    }
    100% {
        -moz-transform: translateX(-125%);
        -webkit-transform: translateX(-125%);
        transform: translateX(-125%);
    }
}

END INACTIVE MARQUEE-----*/

.theme-news-index-pos-7-inner {
    padding: 0 40px;
}


/**
 * ? Reset margin and padding
 */

*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*This is site background, left, right, top and bottom spacing */

body {
    font-family: var(--ft-family);
    font-size: 100%;
    margin: 0px 0px 0px 0px;
    background-color: #ababab;
    /*--background-image: url(../images/backing.jpg); 
	background-repeat: no-repeat;
	background-attachment: fixed;--*/
}

hr {
    margin: 10px 0;
}


/* This is for the block title */

.blk {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 1px #000000, 1px 1px 1px #000000, 0px 1px 1px #585858, 0px 1px 6px #e1e1e1, 0px 1px 8px #ffffff, 0px 0px 1px #000;
}


/* This is for the block content */

.blkcon {
    font-size: 14px;
    font-weight: bold;
    color: #a1a1a1;
}


/*news section text*/

form {
    padding-left: 5px;
    font-size: 14px;
    color: #fff;
}


/*This is for the links*/

a {
    color: #e1e1e1;
    text-decoration: none;
    text-shadow: 0px 0px 1px #000000, 1px 1px 1px #000000, 0px 1px 1px #585858, 0px 1px 6px #e1e1e1, 0px 1px 8px #ffffff, 0px 0px 1px #000;
}

a:hover {
    color: #9e9e9e;
    text-decoration: none;
}


/* This is the story title - latest anyhow */

.title {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}


/* This is the story block title */

.storytitle {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 33px 0px 0px 40px;
    text-shadow: 0px 0px 1px #000000, 1px 1px 1px #000000, 0px 0px 1px #000000, 1px 1px 1px #000000;
}


/* This is the story content without links */

.content {
    color: #ffffff;
    font-size: 14px;
}

.storycat {
    background: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}


/*---- Posted by @ bottom of story --- */

.stposted {
    color: #9e9e9e;
    font-size: 14px;
    font-weight: bold;
    padding: 30px 48px 0px 48px;
    text-align: right;
    text-shadow: 0px 1px 1px #000000;
}

.boxtitle {
    color: #9e9e9e;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
    text-align: center;
    vertical-align: top;
    padding: 0px 0px 20px 0px;
}

.boxcontent {
    color: #9e9e9e;
    font-weight: 700;
    font-size: 14px;
}

.option {
    background: none;
    color: #9e9e9e;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.tiny {
    background: transparent;
    color: #696969;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.box {
    font-size: 10px;
    border: 1px solid #000000;
    background-color: #CCCCCC;
}

textarea {
    width: 100%;
    min-height: 38px !important;
    resize: vertical;
    padding: 0 10px;
}

.header-footer-bg {
    position: relative;
}

.header-footer-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/HD/hback.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 405px;
}

.header-footer-bg::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/FT/fback.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 210px;
}

.container {
    position: relative;
    width: 82%;
    min-width: 1300px;
    margin: 0 auto;
    z-index: 1;
}

.messagebox_overlay {
    z-index: 1 !important;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}


/** ------------------------------------------Header section starts------------------------------------------*/

.hd-body {
    height: 405px;
}

.hd-row1 {
    position: relative;
    height: 38px;
}

.hd-row1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/HD/hd_03.png);
    background-repeat: no-repeat;
    width: 693px;
    height: 38px;
    height: 100%;
}

.hd-row1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/HD/hd_05.png);
    background-repeat: no-repeat;
    width: 543px;
    height: 38px;
    height: 100%;
}

.hd-row1-inner {
    background: url(../images/HD/ths.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 38px;
}


/*---- ROW 1 END----*/

.hd-row2 {
    position: relative;
    height: 305px;
}

.hd-row2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/HD/hd_07.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 305px;
    height: 100%;
}

.hd-row2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/HD/hd_10.png);
    background-repeat: no-repeat;
    width: 543px;
    height: 305px;
    height: 100%;
}

.hd-row2-inner-1 {
    position: absolute;
    top: 0;
    left: 63px;
    background: url(../images/HD/hlogo.png);
    background-repeat: no-repeat;
    width: 630px;
    height: 305px;
}

.hd-row2-inner-2 {
    background: url(../images/HD/mhs.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 305px;
}


/*---- ROW 2 END----*/

.hd-row3 {
    position: relative;
    height: 31px;
}

.hd-row3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../images/HD/hd_11.png);
    background-repeat: no-repeat;
    width: 109px;
    height: 31px;
    height: 100%;
}

.hd-row3::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../images/HD/hd_19.png);
    background-repeat: no-repeat;
    width: 543px;
    height: 31px;
    height: 100%;
}


/** Navigation Links - STARTS */

.hd-row3-buttons {
    position: absolute;
    top: 0;
    left: 109px;
    width: 365px;
    display: flex;
    flex-direction: row;
}

.hd-row3-buttons-link-1 {
    background: url(../images/HD/b1.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 31px;
}

.hd-row3-buttons-link-1:hover {
    background: url(../images/HD/b1h.png);
}

.hd-row3-buttons-link-2 {
    background: url(../images/HD/b2.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 31px;
}

.hd-row3-buttons-link-2:hover {
    background: url(../images/HD/b2h.png);
}

.hd-row3-buttons-link-3 {
    background: url(../images/HD/b3.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 31px;
}

.hd-row3-buttons-link-3:hover {
    background: url(../images/HD/b3h.png);
}

.hd-row3-buttons-link-4 {
    background: url(../images/HD/b4.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 31px;
}

.hd-row3-buttons-link-4:hover {
    background: url(../images/HD/b4h.png);
}

.hd-row3-buttons-link-5 {
    background: url(../images/HD/b5.png);
    background-repeat: no-repeat;
    width: 73px;
    height: 31px;
}

.hd-row3-buttons-link-5:hover {
    background: url(../images/HD/b5h.png);
}


/** Navigation Links - ENDS */

.hd-row3-inner-2 {
    position: absolute;
    top: 0;
    left: 474px;
    background: url(../images/HD/hd_17.png);
    background-repeat: no-repeat;
    width: 219px;
    height: 31px;
}

.hd-row3-inner-3 {
    background: url(../images/HD/bmhs.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 31px;
}


/*---- ROW 3 ENDS ----*/

.hd-row4 {
    position: relative;
    height: 31px;
}

.hd-row4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/HD/hd_20.png);
    background-repeat: no-repeat;
    width: 693px;
    height: 31px;
    height: 100%;
}

.hd-row4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/HD/hd_22.png);
    background-repeat: no-repeat;
    width: 543px;
    height: 31px;
    height: 100%;
}

.hd-row4-inner {
    background: url(../images/HD/bhs.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 31px;
}


/*---- ROW 4 END----*/


/** ------------------------------------------Header section ends------------------------------------------*/


/** ------------------------------------------content section starts------------------------------------------*/


/*---background for the blocks and whole body- ALSO SIDEBARS --*/

.main-body {
    position: relative;
    background: #d9d9d9;
    /* height: 800px; */
    /**
	 * ? The "padding" below may look like I have made a typo and that the padding should match on both sides,
	 * ? But, Because the right side repeat image is a smaller the width than the left side, you have to adjust the padding to compensate.
	 */
    padding: 0 56px 0 56px;
    display: flex;
    justify-content: space-between;
}

.main-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/sbl.png);
    background-repeat: repeat-y;
    width: 56px;
    height: 100%;
}

.main-body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/sbr.png);
    background-repeat: repeat-y;
    width: 56px;
    height: 100%;
}


/** ------------------------------------------content section ends------------------------------------------*/


/** ------------------------------------------blocks section starts------------------------------------------*/

.side-blocks {
    width: 266px;
}

.block-top {
    position: relative;
    background: url(../images/BLK/blktit.png);
    background-repeat: no-repeat;
    padding: 35px 0px 0px 73px;
    text-align: left;
    width: 266px;
    height: 66px;
}

.block-subtop {
    position: relative;
    background: url(../images/BLK/blk_30.png);
    background-repeat: no-repeat;
    width: 266px;
    height: 23px;
}

.block-content {
    position: relative;
    height: 100%;
}

.block-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/BLK/bls.png);
    background-repeat: repeat-y;
    width: 31px;
    height: 100%;
}

.block-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/BLK/blrs.png);
    background-repeat: repeat-y;
    width: 31px;
    height: 100%;
}

.block-content-inner {
    position: relative;
    top: 0px;
    right: -31px;
    background: url(../images/BLK/blkcon.png);
    background-repeat: repeat-y;
    padding: 0px 5px;
    width: 204px;
    height: 100%;
}

.block-pos-4 {
    position: relative;
    background: url(../images/BLK/blk_35.png);
    background-repeat: no-repeat;
    width: 266px;
    height: 78px;
}


/** ------------------------------------------blocks section ends------------------------------------------*/


/** ------------------------------------------content blocks section starts------------------------------------------*/

.center-content {
    width: 100%;
}

.content-pos-1 {
    position: relative;
    height: 38px;
    padding: 0 39px;
}

.content-pos-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/TBL/tbl_26.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 38px;
}

.content-pos-1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/TBL/tbl_28.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 38px;
}

.content-pos-1-inner {
    background: url(../images/TBL/tbl_27.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 38px;
}

.content-pos-2 {
    position: relative;
    padding: 0 10px;
    /* height: 41px; */
}

.content-pos-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/TBL/tbl_33.png);
    background-repeat: repeat-y;
    width: 39px;
    height: 100%;
}

.content-pos-2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/TBL/tbl_35.png);
    background-repeat: repeat-y;
    width: 39px;
    height: 100%;
}

.content-pos-2-inner {
    color: #a7abb0;
    background: url(../images/TBL/tbl_34.png);
    width: 100%;
    /*height: 100%;*/
    padding: 10px 40px;
}

.content-pos-3 {
    position: relative;
    padding: 0 39px;
    height: 38px;
}

.content-pos-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/TBL/tbl_42.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 38px;
}

.content-pos-3::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/TBL/tbl_44.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 38px;
}

.content-pos-3-inner {
    background: url(../images/TBL/tbl_43.png);
    width: 100%;
    height: 38px;
    padding-right: 39px;
    padding-left: 39px;
}


/** ------------------------------------------content blocks section ends------------------------------------------*/


/** ------------------------------------------news section starts------------------------------------------*/

.theme-news-index-pos-1 {
    position: relative;
    height: 84px;
}

.theme-news-index-pos-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/ST/st_29.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 84px;
    z-index: 1;
}

.theme-news-index-pos-1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/ST/st_31.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 84px;
}

.theme-news-index-pos-1-inner {
    position: absolute;
    /* top: 0; */
    /* left: 42px; */
    background: url(../images/ST/st_30.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 84px;
}

.theme-news-index-pos-5 {
    position: relative;
    height: 100%;
}

.theme-news-index-pos-5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/ST/st_41.png);
    background-repeat: repeat-y;
    width: 35px;
    height: 100%;
}

.theme-news-index-pos-5::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/ST/st_43.png);
    background-repeat: repeat-y;
    width: 35px;
    height: 100%;
}

.theme-news-index-pos-5-inner {
    background: url(../images/ST/st_42.png);
    width: 100%;
    height: 100%;
    padding: 20px 40px 20px 40px;
}

.theme-news-index-pos-6 {
    position: relative;
    height: 96px;
}

.theme-news-index-pos-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/ST/st_54.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 96px;
    z-index: 1;
}

.theme-news-index-pos-6::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/ST/st_56.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 96px;
}

.theme-news-index-pos-6-inner {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/ST/st_55.png);
    width: 100%;
    height: 96px;
}


/** ------------------------------------------news section ends------------------------------------------*/


/** ------------------------------------------footer section starts------------------------------------------*/

.footer-background {
    /* background: url(../images/FOOTER/footerback.png); */
    /* background-repeat: repeat-x; */
    height: 210px;
}

.ft-row1 {
    position: relative;
    height: 61px;
}

.ft-row1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FT/fr1.png);
    background-repeat: no-repeat;
    width: 496px;
    height: 61px;
    height: 100%;
}

.ft-row1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FT/ft_32.png);
    background-repeat: no-repeat;
    width: 749px;
    height: 61px;
    height: 100%;
}

.ft-row1-inner {
    background: url(../images/FT/fts.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 61px;
}


/** -------------- FT ROW 1 ENDS ----------------**/

.footer-mid {
    position: relative;
    height: 109px;
}

.footer-mid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FT/fr2.png);
    background-repeat: no-repeat;
    width: 63px;
    height: 121px;
}

.footer-mid::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FT/ft_36.png);
    background-repeat: no-repeat;
    width: 74px;
    height: 109px;
}

.footer-mid-inner1 {
    position: absolute;
    top: 0;
    left: 63px;
    background: url(../images/FT/fmess.png);
    background-repeat: no-repeat;
    width: 433px;
    height: 121px;
}

.footer-mid-inner2 {
    background: url(../images/FT/fms.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 121px;
}

.footer-mid-innerb {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FT/banners.png);
    background-repeat: no-repeat;
    width: 749px;
    height: 121px;
}

.footer-mid-innerb .footer-mid-advert {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer-mid-innerb .footer-mid-advert img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}


/* ------------ MID ROW FT ENDS ------------ */

.ft-bot {
    position: relative;
    height: 28px;
}

.ft-bot::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FT/ft_37.png);
    background-repeat: no-repeat;
    width: 496px;
    height: 28px;
}

.ft-bot::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FT/ft_41.png);
    background-repeat: no-repeat;
    width: 71px;
    height: 28px;
}

.ft-bot-inner1 {
    background: url(../images/FT/fbs.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 28px;
}

.ft-bot-inner2 {
    position: absolute;
    top: 0;
    right: 294px;
    background: url(../images/FT/ft_39.png);
    background-repeat: no-repeat;
    width: 455px;
    height: 28px;
}

.ft-bot-inner3 {
    position: absolute;
    top: 0;
    right: 71px;
    background: url(../images/FT/dwcopy.png);
    background-repeat: no-repeat;
    width: 223px;
    height: 28px;
}


/** ------------------------------------------footer section ends------------------------------------------*/


/** ------------------------------------------forum wrap section starts------------------------------------------*/

.fw-pos-1 {
    position: relative;
    height: 19px;
    padding: 0 20px;
    filter: hue-rotate(var(--hue-rotate));
}

.fw-pos-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FWRAP-trans/pos-1/ftbl_01.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}

.fw-pos-1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FWRAP-trans/pos-1/ftbl_04.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}

.fw-pos-1-inner {
    background: url(../images/FWRAP-trans/pos-1/ftbl_02.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 19px;
}

.fw-pos-2 {
    position: relative;
    padding: 0 20px;
}

.fw-pos-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FWRAP-trans/pos-2/ftbl_05.png);
    background-repeat: repeat-y;
    width: 20px;
    height: 100%;
}

.fw-pos-2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FWRAP-trans/pos-2/ftbl_07.png);
    background-repeat: repeat-y;
    width: 20px;
    height: 100%;
}

.fw-pos-2-inner {
    background: url(../images/FWRAP-trans/pos-2/ftbl_06.png);
    width: 100%;
    height: 100%;
    padding: 10px 25px;
}

.fw-pos-3 {
    position: relative;
    height: 19px;
    padding: 0 20px;
    filter: hue-rotate(var(--hue-rotate));
}

.fw-pos-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/FWRAP-trans/pos-3/ftbl_10.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}

.fw-pos-3::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/FWRAP-trans/pos-3/ftbl_12.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}

.fw-pos-3-inner {
    background: url(../images/FWRAP-trans/pos-3/ftbl_11.png);
    width: 100%;
    height: 19px;
}


/** ------------------------------------------forum wrap section ends------------------------------------------*/


/** ------------------------------------------forum element styling starts------------------------------------------*/


/* This is the background behind the forum main header buttons */

tbody {
    color: #4e4e4e;
}

#fback {
    border-radius: 15px;
    background: #9e9e9e;
    padding: 15px;
}


/* This is the border line & background colour round the entire page */

.bodyline {
    background-color: #9e9e9e;
    border: 0px #6c6c6c solid;
}


/* This is the outline round the main forum tables */

.forumline {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}


/* Main table cell colours and backgrounds */

.row1 {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}

.row2 {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}

.row3 {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}

.row4 {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}


/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/

.rowpic {
    background-color: #858585;
    background-image: url(../forums/images/topc.gif);
    background-repeat: repeat-x;
    border: 1px solid #585858;
}


/* Header cells - the blue and silver gradient backgrounds */

th {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    background-image: url(../forums/images/th_top.gif);
}

.cat,
.catHead,
.catSides,
.catLeft,
.catRight,
.catBottom {
    color: #9e9e9e;
    background-image: none;
    background-color: #000000;
    background-image: url(../forums/images/topc.gif);
    background-repeat: repeat-x;
    border: #585858;
    border-style: solid;
    height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/

.cat,
.catHead,
.catBottom {
    height: 29px;
    border: 1px solid #000000;
}

.thHead,
.thSides,
.thTop,
.thLeft,
.thRight,
.thBottom,
.thCornerL,
.thCornerR {
    font-weight: bold;
    border: #858585;
    border-style: solid;
    height: 28px;
}

.row3Right,
.spaceRow {
    background-color: #9e9e9e;
    background-image: url(../forums/images/fback.gif);
    background-repeat: repeat-x;
    border: 1px #585858 solid;
}

.thHead,
.catHead {
    font-size: 1rem;
    border: 1px solid #585858;
}

.thSides,
.catSides,
.spaceRow {
    border: 1px solid #585858;
}

.thRight,
.catRight,
.row3Right {
    border: 1px solid #585858;
}

.thLeft,
.catLeft {
    border: 1px solid #585858;
}

.thBottom,
.catBottom {
    border: 1px solid #585858;
}

.thTop {
    border: 1px solid #585858;
}

.thCornerL {
    border: 1px solid #585858;
}

.thCornerR {
    border: 1px solid #585858;
}


/* The largest text used in the index page title and toptic title etc. */

.maintitle,
h1,
h2 {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    line-height: 120%;
    color: #ffffff;
}


/* The register, login, search etc links at the top of the page */

.mainmenu {
    font-size: 1rem;
    color: #ffffff;
}

a.mainmenu {
    color: #fff;
}

a.mainmenu:hover {
    color: #9e9e9e;
}


/* Forum category titles */

.cattitle {
    font-weight: bold;
    font-size: 1rem;
    padding-left: 5px;
    letter-spacing: 1px;
    color: #fff;
}

a.cattitle {
    color: #fff;
}

a.cattitle:hover {
    color: #9e9e9e;
}


/* Forum title: Text and link to the forums used in: index.php */

.forumlink {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

a.forumlink {
    color: #fff;
}

a.forumlink:hover {
    color: #9e9e9e;
}


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */

.nav {
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
}

a.nav {
    color: #ffffff;
}

a.nav:hover {
    color: #9e9e9e;
}


/* titles for the topics: could specify viewed link colour too */

.topictitle {
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
}

a.topictitle:link {
    color: #fff;
}

a.topictitle:visited {
    color: #fff;
}

a.topictitle:hover {
    color: #9e9e9e;
}


/* Name of poster in viewmsg.php and viewtopic.php and other places */

.name {
    font-size: 1rem;
    color: #000000;
}


/* Location, number of posts, post date etc */

.postdetails {
    font-size: 13px;
    font-weight: 600;
    color: #000000;
}


/* The content of the posts (body of text) */

.postbody {
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}


/* This is the spacing around post text in the forum topic */

#postwrap {
    padding: 15px 15px 15px 15px;
}

a.postlink:link {
    color: #fff;
}

a.postlink:visited {
    color: #fff;
}

a.postlink:hover {
    color: #9e9e9e;
}


/* Quote & Code blocks */

.code {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #9bdcff;
    background-color: #111111;
    border: #2e2e2e;
    border-style: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.quote {
    font-size: 14px;
    padding: 20px;
    color: #585858;
    line-height: 125%;
    text-shadow: 0px 1px 1px black;
}


/* Copyright and bottom info */

.copyright {
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

a.copyright {
    color: #ffffff;
}

a.copyright:hover {
    color: #9e9e9e;
}


/* Copyright for DW themes */

.copyrightdw {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}

a.copyrightdw {
    color: #b4ff9e;
}

a.copyrightdw:hover {
    color: #fff;
}


/* Form elements */

input,
textarea,
select {
    color: #000;
    border-radius: 3px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    border: #9e9e9e;
}


/* The text input fields background colour */

input.post,
textarea.post,
select {
    background-color: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 1px;
}

input {
    text-indent: 2px;
}


/* The buttons used for bbCode styling in message post */

input.button {
    background-color: #858585;
    color: #9e9e9e;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/* The main submit button option */

input.mainoption {
    color: #000000;
    border-radius: 10px;
    background-image: linear-gradient(silver, gray);
    font-weight: bold;
    box-shadow: 0px 1px 4px black;
}

input.mainoption:hover {
    color: #000000;
    border-radius: 10px;
    background-image: linear-gradient(#ffffff, #5e5e5e);
    font-weight: bold;
    box-shadow: 0px 1px 4px black;
}


/* None-bold submit button */

input.liteoption {
    color: #000000;
    border-radius: 10px;
    background-image: linear-gradient(silver, gray);
    font-weight: normal;
    box-shadow: 0px 1px 2px black;
}

input.liteoption:hover {
    color: #000000;
    border-radius: 10px;
    background-image: linear-gradient(#ffffff, #5e5e5e);
    font-weight: normal;
    box-shadow: 0px 1px 2px black;
}


/* Attachment submit button */

input.attachoption {
    color: #fff;
    border-radius: 10px;
    background-color: #5e5e5e;
    font-weight: normal;
}


/** ------------------------------------------forum element styling ends------------------------------------------*/

input[type='submit'],
input[type='checkbox'],
input[type='radio'] {
    cursor: pointer;
}

select {
    color: #000;
    border: 1px solid #9e9e9e;
    cursor: pointer;
    margin: 0 1px 1px;
    box-sizing: border-box;
}

input {
    color: #000;
    border: 0px solid #000000;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 0 1px 1px;
    padding: 5px;
    box-sizing: border-box;
}

span.uppercase {
    text-transform: uppercase;
}

.forums {
    padding-left: 5px;
}

.threads {
    width: 80px;
}

.last_post {
    width: 200px;
    padding-left: 5px;
}

input[type='radio'] {
    background-color: transparent!important;
    width: 18px;
    height: 18px;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
}

input[type='image'] {
    border: none;
    padding: 0;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
}

.codebox {
    border-style: solid;
    display: block;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #9e9e9e;
    border-radius: 6px;
}

.codebox code {
    display: block;
    font: 1em Monaco, "Open Sans", sans-serif;
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
    margin: 0;
    padding: 5px 3px;
}

.codebox p {
    display: block;
    font-weight: 600;
    padding: 5px 0px;
    border-bottom: 1px solid #ffffff;
    text-transform: uppercase;
}

.phpcodebox {
    background-color: #fdf6e3;
}

.phpcodebox p {
    color: #333;
}

.code_select {
    color: #676767;
}

.code_select:hover {
    color: #9e9e9e;
}

.notepaper {
    position: relative;
    margin: auto;
    padding: 10px 20px 20px 30px;
    width: 90%;
    line-height: 30px;
    color: #6a5f49;
    text-shadow: 0 1px 1px #fff;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02)
}

.notepaper:before,
.notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
}

.notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
}

.notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg)
}

.curly-quotes:before,
.curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
}

.curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
}

.curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
}

.quote-by {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    font-style: italic;
    color: #84775c;
}

.lt-ie8 .notepaper {
    padding: 15px 25px;
}

.forum-ranks {
    margin-bottom: 2px;
}

.forum-avatar {
    padding-bottom: 5px;
}

.hdr-li-icon:nth-child(n+2) {
    margin-left: 5px;
}

.hdr-li-icon {
    background-color: rgba(24, 27, 27, 0.8);
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.hdr-btn-counter {
    background-color: #9e9e9e;
    border-radius: 9px;
    color: white;
    padding: 1px 3px;
    font-size: 7px;
    position: absolute;
    top: 3px;
    left: 18px;
    border: 1px solid #262323;
}

.hdr-btn-container {
    position: relative;
    display: block;
    left: 96px;
    top: 6px;
}

.hdr-btn-container ul {
    position: relative;
    display: inline-block;
    padding: 0;
}

.hdr-btn-container ul>li {
    float: left;
}

.hdr-btn-container ul li a.hdr-btn-icon {
    display: block;
    transition: .5s;
    font-size: 16px;
    color: #919191;
    text-align: center;
}

.hdr-btn-container ul li a.hdr-btn-icon:hover {
    color: #9e9e9e;
    text-shadow: 0px 0px 5px #636363, 0px 0px 4px #9e9e9e;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.hdr-btn-container ul li .hdr-btn-icon .fas {
    vertical-align: middle;
    line-height: 32px;
}

.lastpost .fa {
    float: right;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.fa-angle-double-up {
    text-shadow: 0px 0px 5px #636363, 0px 0px 4px #A20303;
}


/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/

.helpline {
    background-color: #DEE3E7;
    border-style: none;
}