.pictureDescription {
  padding-top: 10px;
}

#___plus_0 , #sharefacebook{
  vertical-align: middle !important;
}

#frontbody{
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

#icons{
  margin-top: 25px;
  margin-bottom: 25px;
}

#link{
  padding-top:0px !important;
  vertical-align: top;
  background-color: rgb(44, 62, 80) !important;
}
