A:link {
FONT-SIZE: 12px; 
COLOR: #999999; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}
A:visited {
FONT-SIZE: 12px; 
COLOR: #999999; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}
A:active {
FONT-SIZE: 12px; 
COLOR: #cccccc; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}
A:hover {
FONT-SIZE: 12px; 
COLOR: #99FF00; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}
BODY {
FONT-SIZE: 12px; 
CURSOR: default; 
COLOR: #cccccc; 
BACKGROUND-color: #18222E; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}

TEXTAREA {background:#18222E;
color:#cccccc;
font:11px Arial,Helvetica,sans-serif;
BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
}
P {
FONT-SIZE: 12px; 
COLOR: #cccccc; 
LINE-HEIGHT: 1.4; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}

.block {
/*
backgroundRepeat: repeat-xy center;
BACKGROUND-IMAGE: url(../../../themes/MNS-Cortex/images/backgrounds/block_light_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/MNS-Cortex/images/backgrounds/block_light_grey.png);
accelerator: false;
*/
}

.otthree {
/*	
backgroundRepeat: repeat-xy center;
BACKGROUND-IMAGE: url(../../../themes/MNS-Cortex/images/backgrounds/block_light_grey.png); 
BACKGROUND-REPEAT: repeat-xy center; 
backgroundImage: url(../../../themes/MNS-Cortex/images/backgrounds/block_light_grey.png);
accelerator: false;
*/
}

TABLE {
FONT-SIZE: 12px; 
COLOR: #FFFFFF; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
TEXT-DECORATION: none;
}

TD.content {

FONT-SIZE: 12px;
COLOR: #FFFFFF;
TEXT-DECORATION: none;
FONT-FAMILY:  arial, helvetica, verdana, sans-serif;
}

TD.extra {
background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}
TD.info1 {
color : #FFFFFF;
font: normal 11px Arial, Helvetica, sans-serif;
BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;
}
TD.extras {
background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}

hr {
border-top: 1px solid #2C3D52;
border-bottom: 1px solid #000000;
height: 2px;
width: 100%;
}

UL {
	LIST-STYLE-TYPE: square
}
.center {
	TEXT-ALIGN: center
}
.justify {
	TEXT-ALIGN: justify
}
.right {
	TEXT-ALIGN: right
}
H1 {
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR: #FFFFFF; 
FONT-FAMILY:  arial, helvetica, verdana, sans-serif; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none;
}
.heading {
FONT-WEIGHT: bold; 
FONT-SIZE: 12px; 
COLOR: #FFFFFF; 
FONT-FAMILY: Tahoma; 
LETTER-SPACING: 0px; 
TEXT-DECORATION: none;
}

SELECT {
BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;
FONT-SIZE: 12px;
COLOR: #FFFFFF;
TEXT-DECORATION: none;
FONT-FAMILY:  arial, helvetica, verdana, sans-serif;
}

/*Only IE will show for the scroller style */
BODY {
SCROLLBAR-FACE-COLOR: #18222E; 
SCROLLBAR-HIGHLIGHT-COLOR: #35353F; 
SCROLLBAR-SHADOW-COLOR: #303030; 
SCROLLBAR-3DLIGHT-COLOR: #4D4E53; 
SCROLLBAR-ARROW-COLOR: #99FF00; 
SCROLLBAR-TRACK-COLOR: #18222E; 
SCROLLBAR-DARKSHADOW-COLOR: #000000;
 }

/* This is the border line & background colour round the entire page */
.bodyline	{ BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;}
.tablein {color : #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;}
.tableout {background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;}	
/* This is the outline round the main forum tables */
.forumline	{ BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;}




/* Main table cell colours and backgrounds */
td.row1	{background: url(../../../themes/MNS-Cortex/images/row1.gif); 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;}
td.row2	{background: url(../../../themes/MNS-Cortex/images/row1.gif); 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;}
td.row3	{background: url(../../../themes/MNS-Cortex/images/row1.gif); 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;}


td.rowpic {
		
background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}


th	{
	color: #FFFFFF; font-size: 11px; font-weight : bold;
	height: 20px;
    background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
	
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			
			background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; height: 28px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; height: 28px; }
td.row3Right,td.spaceRow {
background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;}

th.thHead,td.catHead { font-size: 12px; background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thSides,td.catSides,td.spaceRow	 { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thRight,td.catRight,td.row3Right	 { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thLeft,td.catLeft	  { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thBottom,td.catBottom  { background: #18222E; 
BORDER-RIGHT: #0000001px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thTop	 { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thCornerL { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }
th.thCornerR { background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid; }


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 22px; font-family: "Arial",Verdana, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #FFFFFF;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #FFFFFF; }
a.gen,a.genmed,a.gensmall { color: #FFFFFF; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #3D4743; text-decoration: none; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #FFFFFF;}
a.mainmenu		{ text-decoration: none; color : #FFFFFF;}
a.mainmenu:hover{ text-decoration: none; color : #3D4743;}


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 0px; color : #FFFFFF}
a.cattitle		{ text-decoration: none; color : #FFFFFF; }
a.cattitle:hover{ text-decoration: none; color : #3D4743;}


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #FFFFFF; }
a.forumlink 	{ text-decoration: none; color : #FFFFFF; }
a.forumlink:hover{ text-decoration: NONE; color : #3D4743; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #FFFFFF;}
a.nav			{ text-decoration: none; color : #FFFFFF; }
a.nav:hover		{ text-decoration: NONE; color : #3D4743;}


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #FFFFFF; }
a.topictitle:link   { text-decoration: none; color : #FFFFFF; }
a.topictitle:visited { text-decoration: none; color : #FFFFFF; }
a.topictitle:hover	{ text-decoration: NONE; color : #3D4743; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #FFFFFF;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #FFFFFF; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #FFFFFF; }
a.postlink:visited { text-decoration: none; color : #FFFFFF; }
a.postlink:hover { text-decoration: NONE; color : #3D4743}

.navlink { font-size : 12px;}
a.navlink:link	{ text-decoration: none; color : #FFFFFF; }
a.navlink:visited { text-decoration: none; color : #FFFFFF; }
a.navlink:hover { text-decoration: NONE; color : #3D4743;}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 12px; color: #A3A4A8;
	BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;
}

.quote {
	font-family: Courier, 'Courier New', sans-serif; font-size: 12px; color: #A3A4A8;
	BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #0000001px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;
}


/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; letter-spacing: 0px;}
a.copyright		{ color: #FFFFFF; text-decoration: none;}
a.copyright:hover { color: #3D4743; text-decoration: NONE;}


/* Form elements */
input {
	color : #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color : #18222E;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button, button.button {
	color : #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}

/* The main submit button option */
input.mainoption {
	color : #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}

/* None-bold submit button */
input.liteoption {
	color : #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	background: #18222E; 
BORDER-RIGHT: #000000 1px solid; 
BORDER-TOP: #2C3D52 1px solid; 
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #2C3D52 1px solid;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { BORDER-TOP: #000000 1px solid; 
BORDER-BOTTOM: #2C3D52 1px solid; 
BORDER-LEFT: #000000 1px solid; 
BORDER-RIGHT: #2C3D52 1px solid;
BACKGROUND: #18222E; }